@font-face {
  font-family: 'iconfontzacao';  /* project id 208913 */
  src: url('https://at.alicdn.com/t/font_un65ae7hag11nhfr.eot');
  src: url('https://at.alicdn.com/t/font_un65ae7hag11nhfr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_un65ae7hag11nhfr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_un65ae7hag11nhfr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_un65ae7hag11nhfr.svg#iconfontzacao') format('svg');
}
.iconfontzacao{
    font-family:"iconfontzacao" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

header.bar{
	height: 2.5rem;
	background-color: #fbd249;
	/*color: #fff;*/
}
header.bar:before,
header.bar:after{
	background-color: transparent;
}
header.bar h1{
	min-height: 2.5rem;
	line-height: 2.5rem;
	font-size: 0.7rem;
	color: #a66b0a;
}
header.bar .button-link{
	margin-left: 0rem!important;
	min-height: 2.5rem;
	line-height: 2.5rem;
	color: #fff;
}
.vindicate_page header.bar a{
	font-size: 0.7rem;
}

.vindicate_page header.bar{
	/*background-color: #fb6d6d!important;*/
}


.vindicate_page .vindicate-content{
	top:2.5rem;
	padding-bottom: 2rem;
	/*background-color: #FFE4B0;*/
}
.vindicate_page .vindicate-content .vindicate-header{
	padding: 0.2rem 0.4rem;
	color: #FEF0D3;
	/*text-shadow: 0px 0px 0.3rem #000;*/
	background-color: #a60a0a;
}
.vindicate_page .vindicate-content .vindicate-header p{
	margin: 0px;
	padding: 0.1rem 0px;
	font-size: 0.7rem;
	letter-spacing: 0.05rem;
}

.vindicate_page .vindicate-content .tabs{
	padding-bottom: 0px;
	/*background-color: #fff;*/
}

.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card{
	margin: 0px;
	margin-bottom: 0.75rem;
	background-color: #FEF0D3;
	box-shadow: 0px 0.2rem 0px #db8878;
	border-radius: 6px;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card:last-child{
	margin-bottom: 0px;
}


.vindicate_page .vindicate-content .content-block{
	margin: 0px;
	padding: 0.5rem 0.25rem;
}
.vindicate_page .vindicate-content .content-block .buttons-row .button{
	border-color: #fb6d6d; 
	color: #fb6d6d;
}
.vindicate_page .vindicate-content .content-block .buttons-row .button.active{
	background-color: #fb6d6d;
	color: #FEF0D3;
}

.vindicate_page .vindicate-content .tabs .tab{
	margin: 0px;
	padding: 0.25rem;
}
.vindicate_page .vindicate-content .tabs .tab .list-block {
	margin: 0px;
	border-radius: 6px;
}

.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-header {
	background-color: #fb6d6d;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-header span,
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-header a {
	color: #fff;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .love-content {
	color: #db8878;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-footer{
	padding: 0rem .75rem;
	color: #db8878;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-footer:before{
	background-color: transparent;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-footer .footer-table{
	display: table;
	width:100%;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-footer .footer-table .footer-td{
	display: table-cell;
	vertical-align: bottom;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-footer .footer-table .footer-td .building i.iconfontzacao{
	margin-right: 0.25rem;
}
.vindicate_page .vindicate-content .tabs .tab .list-block .card-container .card .card-footer .footer-table .footer-td .tolove p{
	margin: 0px;
	text-align: right;
	font-weight: normal;
	font-size: 0.6rem;
}
.vindicate_page .vindicate-content .tabs .tab .loading{
	margin: 0.5rem 0px;
}
.vindicate_page .vindicate-content .tabs .tab .loading .button{
	width: 100%;
	height: initial;
	line-height: 2rem;
	background-color: #ff9999;
	color: #fff;
	box-shadow: 0px 0.2rem 0px #db8878;
	border:none;
}
.vindicate_page .button-send{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	line-height: 2rem;
	background-color: #fd5a74;
	color: #fff;
	text-align: center;
}
.popup-vindicate{
	height: initial;
	top:initial;
	bottom: 0px;
	box-shadow: 0px -0.2rem 0px #ccc;
	background-color: #fff;
}
.popup-vindicate .popup-header{
	margin: 0px;
	padding: 0.25rem 0.5rem;
	text-align: right;
}
.popup-vindicate .popup-header span{
	font-size: 0.6rem;
	letter-spacing: 0.05rem;
	color: #999;
}
.popup-vindicate .content-block{
	margin: 0px;
	padding: 0.5rem;
}
.popup-vindicate .content-block .list-block{
	margin: 0px;
}
.popup-vindicate .content-block .list-block ul,
.popup-vindicate .content-block .list-block ul:before,
.popup-vindicate .content-block .list-block ul:after{
	background-color: transparent;
}
.popup-vindicate .content-block .list-block ul li{
	padding: 0.75rem 0px;
	border-bottom:1px dotted #eee;
}
.popup-vindicate .content-block .list-block ul li .content-block-title{
	margin: 0px;
	padding-bottom: 0.5rem;
	font-size: 0.6rem;
	color: #999;
}

.popup-vindicate .content-block .list-block ul li .form-control{
	padding: 0.45rem 0.6rem;
	border-radius: 6px;
	font-size: 0.7rem;
	border:1px solid #eee;
}
.popup-vindicate .submit-vindicate{
	display: block;
	width: 100%;
	padding: 0.45rem 0.8rem;
	font-size: 0.7rem;
	background-color: #fc5a74;
	color: #fff;
	text-align: center;
	height: 2rem;
}